/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Theme */
:root {
  --primary: #3b82f6;
  --accent: #277583;
  --success: #57a11f;
  --dark: #3d5690;
  --bg: #eef2f7;
  --text: #4e6fa3;
}

/* Body */
body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #eef2f7, #e0f2fe);
  color: var(--text);
}

/* Navbar */
.navbar {
  background: rgba(15, 23, 42, 0.85);
  backdrop-filter: blur(10px);
  color: white;
  padding: 18px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.logo {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Nav links */
.navLinks {
  display: flex;
  gap: 25px;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

/* underline animation */
.navLinks a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--accent);
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.navLinks a:hover::after {
  width: 100%;
}

/* Page layout */
.page {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* Card / Box */
.box {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(14px);
  width: 400px;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,.15);
  transition: 0.3s;
}

.box:hover {
  transform: translateY(-5px);
}

/* Inputs */
input {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border-radius: 12px;
  border: 1px solid #0458c5;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
}

input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(62, 69, 82, 0.2);
}

/* Button */
button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, var(--success), #0eaaa5cb);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
  margin-top: 10px;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(203, 27, 124, 0.15);
}